/*
Colors
#08090D
#7B838C
#1A2E40
#274259
#4B5A6F

rgba


*/




/*--------Box Sizing-------*/
html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }



/*---------------Utility Classes------------------*/
.container{
    width:80vw;
    margin:25px auto;
    max-width: 900px;
    
    
    }
    
    .img-right{
    float:right;
    margin:20px 0 20px 20px;
    border:1px solid #000000;
    padding:5px;
    border-radius:5px;
    }
    
    .img-left{
    float:left;
    margin:20px 20px 20px 0;
    border:1px solid #000000;
    padding:5px;
    border-radius:5px;
    }
    
    .img-center{
    display:block;
    margin:20px auto;
    border:1px solid #000000;
    padding:5px;
    border-radius:5px;
    }



/*---------------Responsive Images------------------*/

img {
    max-width:100%;
    height: auto;
    }




/*----------------Global Styles----------------*/

body{
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    margin:0;
    background-color: rgba(57,88,115,.4);
}

header.primary{
    height:300px;
    text-align: center;
    margin:0;
    align-items: center;
    padding-top: 15px;
    background-image: url(../img/dragoninspace.png);
    background-color: rgba(57,88,115,.4);
    background-size: cover;
    color:white;
    
}

header ul{
    display: flex;
    flex-direction: row;
    margin:auto 30vw;
    padding:0;
    justify-content: space-evenly;
}

header nav li {
    background-color: rgba(57,88,115,.6);
    list-style-type: none;  
    padding: .5em 1em;
    border: 2px solid white;
    border-radius: 10px;
  
}

header nav a{
    text-decoration: none;
    color: white;
}

#container{
    max-width: 65vw;
    margin:10px auto;
    padding: 8px 12px 8px 12px;
    border-radius: 15px;
}

#container .overview,
#container .configurations,
#container .slideshow,
#container .history,
#container .faq,
#container .contact,
#container .info
{
    margin: 10px 10px 10px 5px;
    border: 2px solid black;
    border-radius: 15px;
    padding: 5px 15px 25px 15px;
    background-color: lightgray;
}

.overview h2,
.history h2,
.faq h2,
.contact h2{
    text-align: center;
    font-size: 1.8rem;
}

.overview p{
    font-size: 1.2rem;
    margin:10px;
}


.configurations h2{
    width:100%;
    text-align: center;
    font-size:1.8rem;
}



.articles{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5px;
    
}

.articles header{
    
    text-align: center;
    font-size: 1.3rem;
    
}

.post {
border:3px solid black;
border-radius: 15px;

}

.articles header figcaption{
    font-size: small;
}

.articles .post{
    display: flex;
    flex-direction: column;
    width: 25%;
    justify-content: space-evenly;
    
}


.articles .post ul{
    list-style-type: none;
    margin-left:-2em;
    

}

.articles .post ul li{
    margin: 10px 5px 5px 5px;
    padding: 5px;
}


aside{
display:flex;
}


aside .background,
aside .specs{
    width:50%;
    margin: 15px 20px;
    padding: 10px 15px;
    border: 2px solid black;
    border-radius: 15px;
}

aside .background h2{
    text-align: center;
    font-size: 1.8rem;
}

aside .background p{
    font-size: 1.2rem;
}

aside table{
    border-collapse: collapse;
    width: 80%;
    margin: auto;
    
}

aside table caption{
    padding-top: 25px;
    text-align: center;
    font-size: 1.8rem;
}

aside table tr{
border-bottom:1px solid black;

}

aside table td:nth-child(even)
{
    text-align: right;
}

footer ul{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    text-transform: capitalize;
    list-style-type: none;
    font-size: 1.3rem;

}

.history p{
    font-size: 1.2rem;
}

#container .history table{
    border-collapse: collapse;
    border: 2px solid black;
    font-size:1.2rem;
    margin: 10px auto;
    

}

#container .history table caption{
    font-size: 1.4rem;
    font-weight: 800;
    border: 2px solid black;
    border-radius: 10px 10px 0 0;
}

#container .history table thead{
    text-align: center;
    font-weight: 800;
}

#container .history table tr:nth-child(even){
    background-color: white;
}

#container .history table td{
    border: 2px solid black;
}

#container .history figcaption{
    text-align: center;
}

#container .history img{
    margin-bottom: 3px;
    
}



details summary{
    height: 1.5vw;
    padding-top: 5px;
    font-size: 1.2rem;
    margin: 5px;
    border:2px solid black;
    border-radius: 8px;
    font-weight: 600;
    
}




details p{
    padding: 50px 25px 50px 25px;
    font-size: 1.3rem;
    box-shadow: -10px 10px 12px gray;
    border:1px solid black;
    border-radius: 10px;
    
}