/*
Colors
#08090D
#7B838C
#1A2E40
#274259
#4B5A6F

rgba


*/




/*--------Box Sizing-------*/
html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }



/*---------------Utility Classes------------------*/
.container{
    width:80vw;
    margin:25px auto;
    max-width: 900px;
    
    
    }
    
    .img-right{
    float:right;
    margin:20px 0 20px 20px;
    border:1px solid #000000;
    padding:5px;
    border-radius:5px;
    }
    
    .img-left{
    float:left;
    margin:20px 20px 20px 0;
    border:1px solid #000000;
    padding:5px;
    border-radius:5px;
    }
    
    .img-center{
    display:block;
    margin:20px auto;
    border:1px solid #000000;
    padding:5px;
    border-radius:5px;
    }



/*---------------Responsive Images------------------*/

img {
    max-width:100%;
    height: auto;
    }



/*-----------------------Global Styles------------------*/

body{
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    margin:0;
    background-color: rgba(26,46,64,.4);
    
    

}


header.primary{
text-align: center;
padding: 6px;
background: rgba(57,88,115,.4);
background-image: url(../img/dragoninspace.png);
background-size:cover;
color: white;
text-shadow: black;

}

header.primary a{
  color:white;
  text-decoration: none;
}

header.primary ul{
  padding:0;
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;

}

header.primary nav a{
  text-decoration: none;
  color: black;
  background: rgba(123, 131, 140,.5);
  padding: 8px 16px;
  border-radius: 6px 12px;
  transition: .5s;
  border: 1px solid white;
  color: white;
  transition: .5s;

}

header.primary nav a:hover{
background: rgba(123,131,140,.8) ;
}


header.primary nav a:active{
background-color: rgba(26,46,64,.8);
}

#content {
background-color: #ffffff;


}

#content .overview{
  text-align: justify;
  padding: 25px;
  border: 5px solid black;  
  border-radius: 15px;;
  padding: 10px;
}

#content .overview h2{
  text-align: center;
  font-size: 2rem;
  
}

#content .overview p{
  font-size: 1.2rem;
}

#articles .container {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
background-color: #ffffff;
border: 5px solid black;
border-radius: 15px;
padding: 10px;

}

#articles h2{
width:100%;
text-align: center;
font-size:xx-large;

}

#articles header{
  
  text-align: center;
  
  }

#articles .post{

width: 30%;
padding: 5px;
border: 2px solid black;

}

#articles .post ul{
display: flex;
flex-direction: column;
justify-content: center;
}

#articles .post li{
list-style-type: none;
padding: 5px;
text-align: justify;
padding-right: 25px;

}

#slideshow{
  background: white;
  padding:20px 40px;
}

#content .container .history{
  border: 5px solid black;
  border-radius: 15px;
  padding: 20px;
  }
  
  
  #content .container .history table{
  
    border: 2px solid black;
    width:80%;
    margin: 5px auto 10px;
    border-collapse: collapse;
  }
  
  #content .container .history caption{
    font-weight: bold;
    font-size: 1.3rem;
    
  }
  
  
  table th, table td{
    border: solid 2px;
    
  }


  #content .faq details{
    margin: 10px 5px 10px 5px;
    padding:10px 5px 10px 0;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 1.2rem;
  
  }

  #content .faq details[open] summary{
    border: 1px solid black;
    border-radius: 10px;
    background-color: grey;
    color: white;
  }

  #content .faq details >p{
    margin: auto;
    padding: 8px;
    
  }

  #content .contact{
    border: 1px solid black;
  }

footer {
display: flex;
justify-content: center;
background: rgba(57,88,115,.4);

}















/*----------Media Queries-----------------------------------------*/
@media screen and (max-width:600px){

  header.primary ul {
    flex-direction: column;
    width: 60vw;
    margin: 0 auto;
  }
  
    header.primary nav a{
      display:block;
    }
  
    header.primary nav li{
      margin-bottom:10px;
    }
  
    #content {
      flex-direction:column;
      
    }
  
    #content article.post{
      width: 100%;
      margin-bottom: 25px;
    }
  
    aside .container{
  flex-direction:column;
  
    }
  
    aside .container article.widget{
  width:100%;
    }
  
  }